<div align="center">

# **Funciones de primas de seguros**

</div>

## 1. Llamado a las funciones

In [56]:
source("../src/init.R")
library(dplyr)

## 2. Tablas de mortalidad

In [57]:
# Lectura de las tablas

#tabla_rentistas_hombres <- leer_excel("data/in/Tablas Mortalidad.xls", hoja=1)
#tabla_rentistas_mujeres <- leer_excel("data/in/Tablas Mortalidad.xls", hoja=2)
#tabla_invalidos_hombres <- leer_excel("data/in/Tablas Mortalidad.xls", hoja=3)
#tabla_invalidos_mujeres <- leer_excel("data/in/Tablas Mortalidad.xls", hoja=4)
#tabla_asegurados_hombres <- leer_excel("data/in/Tablas Mortalidad.xls", hoja=5)
#tabla_asegurados_mujeres <- leer_excel("data/in/Tablas Mortalidad.xls", hoja=6)

# Guardar las tablas
#write.csv(tabla_rentistas_hombres, file = "../data/processed/tabla_rentistas_hombres.csv")
#write.csv(tabla_rentistas_mujeres, file = "../data/processed/tabla_rentistas_mujeres.csv")
#write.csv(tabla_invalidos_hombres, file = "../data/processed/tabla_invalidos_hombres.csv")
#write.csv(tabla_invalidos_hombres, file = "../data/processed/tabla_invalidos_mujeres.csv")
#write.csv(tabla_asegurados_hombres, file = "../data/processed/tabla_asegurados_hombres.csv")
#write.csv(tabla_asegurados_hombres, file = "../data/processed/tabla_asegurados_mujeres.csv")

In [58]:
# Lectura de los csv
tabla_rentistas_hombres <- read.csv("../data/processed/tabla_rentistas_hombres.csv")
tabla_rentistas_mujeres <- read.csv("../data/processed/tabla_rentistas_mujeres.csv")
tabla_invalidos_hombres <- read.csv("../data/processed/tabla_invalidos_hombres.csv")
tabla_invalidos_mujeres <- read.csv("../data/processed/tabla_invalidos_mujeres.csv")
tabla_asegurados_hombres <- read.csv("../data/processed/tabla_asegurados_hombres.csv")
tabla_asegurados_mujeres <- read.csv("../data/processed/tabla_asegurados_mujeres.csv")

tabla_muestra <- read.csv("../data/in/muestra.csv")

## 3. Pruebas de las funcioens de conmutacion

In [59]:
tabla_muestra <- tabla_muestra %>%
  select(x, lx, qx, dx, px, Dx_i, Cx_i, Mx_i, Rx_i, Nx_i) %>%
  rename(
    Dx = Dx_i,
    Cx = Cx_i,
    Mx = Mx_i,
    Rx = Rx_i,
    Nx = Nx_i
  )

  head(tabla_muestra)

  x  lx     qx       dx  px       Dx        Cx      Mx       Rx       Nx
1 20 100000 0.001300 130 0.998700 14864.363 17.5670 302.1525 6036.204 160184.31
2 21  99870 0.001342 134 0.998658 13495.490 16.4645 284.5855 5734.052 145319.95
3 22  99736 0.001384 138 0.998616 12252.163 15.4154 268.1210 5449.466 131824.46
4 23  99598 0.001416 141 0.998584 11122.914 14.3182 252.7055 5181.345 119572.30
5 24  99457 0.001458 145 0.998542 10097.422 13.3837 238.3873 4928.640 108449.38
6 25  99312 0.001490 148 0.998510  9166.091 12.4159 225.0036 4690.252  98351.96