<div align="center">

# **Funciones de primas de seguros**

</div>

In [71]:
source("../src/data/read.R")
source("../src/utils/conmutaciones.R")
source("../src/utils/basics.R")

tabla_mortalidad <- leer_excel("data/in/Tablas Mortalidad.xls", hoja = 1)

head(tabla_mortalidad)

  x lx        dx       qx       px       e0x      S0(x)     f0(x)
1 0 100000.00 48.50000 0.000485 0.999515 79.29532 1.0000000           NA
2 1  99951.50 48.47648 0.000485 0.999515 78.33356 0.9995150 0.0004847648
3 2  99903.02 48.45297 0.000485 0.999515 77.37132 0.9990302 0.0004845297
4 3  99854.57 48.42947 0.000485 0.999515 76.40863 0.9985457 0.0004842947
5 4  99806.14 48.40598 0.000485 0.999515 75.44546 0.9980614 0.0004840598
6 5  99757.74 48.38250 0.000485 0.999515 74.48183 0.9975774 0.0004838250
  m(x)
1       NA
2 0.000485
3 0.000485
4 0.000485
5 0.000485
6 0.000485

In [72]:
colnames(tabla_mortalidad)

[1] "x"     "lx"    "dx"    "qx"    "px"    "e0x"   "S0(x)" "f0(x)" "m(x)"

In [73]:
p_x(2, tabla_mortalidad)

[1] 0.999515

In [74]:
print(D(tabla_mortalidad,3,0))

[1] 99854.57